.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.results{
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
	float: left;
}

.nutritional {
	float: right;
	width: 20rem;
	height: 30rem;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}